---
:twitter:
  :consumer_key: your_consumer_key
  :consumer_secret: your_consumer_secret
  :oauth_token: your_oauth_token
  :oauth_token_secret: your_oauth_token_secret
:tweet:
  :min:
    :count: 5
    :minutes: 5
  :max:
    :count: 15
    :minutes: 30
:malkov:
  :popular:
    :recent: 32
    :ranking: 6
:keyword:
  - :condition:
      !ruby/regexp /(おはよう|オハヨウ|[お御]早う)/
    :messages:
      - おはよう
  - :condition:
      !ruby/regexp /(おやすみ|オヤスミ|[お御]休み?)/
    :messages:
      - おやすみ
