---
:twitter:
  :consumer_key: your_consumer_key
  :consumer_secret: your_consumer_secret
  :oauth_token: your_oauth_token
  :oauth_token_secret: your_oauth_token_secret
:tweet:
  :min:
    :count: 5
    :minutes: 5
  :max:
    :count: 15
    :minutes: 30
